<h1>dashboard</h1>

<ul>
  <% @coffees.each do |coffee| %>
    <li>
      
      <%= link_to coffee.name, coffee_path(coffee) %>
    </li>
  <% end %>
</ul>


<%#= link_to 'log out', destroy_user_session_path, method: :delete %>
  