

<div class="card" style="width: 18rem;">
  <img class="card-img-top", <img src="<%= (url_for(@coffee.image)) %>">
  <div class="card-body">

    <h5 class="card-title"><%= @coffee.name %></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-secondary"><%= @coffee.amount %></a>&nbsp &nbsp
    <a href="#" class="btn btn-primary">Add to cart</a><br>
       <%= link_to "back",   root_path(@coffee) %>  
  </div>
</div>