


<div class="col-lg-10 offset-1 space">  
  <p>
    Hi Dear 
  </p>
  <p>
    <%= @order.email %>,
  </p>
  <p>
    Thank you so much for order with Coffee shop!
  </p>
  <p>
    Your order is being prepared and packed with loving care. By the way, you have great taste; this eye cream is our .
  </p>
  <p>
    Let us know if we can do anything to make your experience better!
  </p>
  <p>
    Thanks again,
  </p>
  <p>
    The Coffee Team
  </p>
</div>