<div class="col-lg-10 offset-1 space">

  <div class="row">
    <div class="col-lg-4">
      <h3>order information</h3>
    </div>
  </div>

<%= render "form", order: @order %>



  <%#= form_with(model: @order, local: true, url: {action: 'new'}) do |form| %>

  <!-- 
  <div class="row space">
 
    <h3><strong><%#= form.label :total%></strong></h3>
        <%#= @order.total%>
  </div> -->

  <!--Address-->
  <!-- <div class="row space">
    <h3><strong><%#= form.label :Addressee%></strong></h3>
  </div> -->
  <!--Own address-->
  <!-- <div class="row">
    <p>
      <label><%#= form.radio_button :add, 1, checked: true, checked: "checked" %>Your own address</label><br>
      <%#= @user.post_code %>
      <%#= @user.address %>
      <%#= @user.full_name %>
    </p>
  </div>
 -->
<!-- 
  <div class="row space">
    <div class="col-lg-2 offset-lg-2">
      <%#= form.submit "Proceed to confirmation", class: "btn btn-su"%>
      <%#= form.submit "Create" %>
    </div>
  </div> -->
  <%# end %>





